*{
    margin:0;
    padding:0;
    font-size:20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.control{
    margin:20px;
}
.rect{
    position: absolute;
    background:rgb(255,26,26,0.8);
    border:1px solid black;
}
.circle{
    position: absolute;
    background:rgb(26,141,26,0.8);
    border-radius: 100%;
    border:1px solid black;
}
.triangle{
    position: absolute;
    width:50px;
    height: 50px;
    background: linear-gradient(to right bottom, transparent 50%, blue 50%) left / 50% 100% no-repeat, linear-gradient(to left bottom, transparent 50%, blue 50%) right / 50% 100% no-repeat;
}